h1{
    color: orange;
    background-color: slategray;
    font-size: 20px;
    text-decoration: underline;
    font-family: arial;
    text-align: center;
}
p{
    color: slategray;
    text-align: right;
    line-height: 30px;
    letter-spacing: 3px;
    column-count: 2;
    column-gap: 60px;
    
}
ul{
    border-width: 4px;
}